          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '1' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS                ____comidas_____01co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '2' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS                ____comidas_____02co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> EMPANADAS             ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> MINUTAS               ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '6' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PORCIONES             ____comidas_____06co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENSALADAS             ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '8' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> TORTILLAS Y OMELETTE  ____comidas_____08co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PARRILLA  ENSALADAS   ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MENU CELIACOS         ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MILANESAS/SUPREMAS    ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '12' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARRILLA ACOMPANAMIE  ____comidas_____12co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS                ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '16' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SALSAS                ____comidas_____16co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENTRADAS              ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '23' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPAN                 ____comidas_____23co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '31' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS                 ____comidas_____31co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinvu/snippet/<%= '51' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDWICH              ____comidas_____51co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
